---
import Base from "../layouts/Base.astro";
import ListItem from "../components/ListItem.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.mdx', { eager: true }))
  .sort((a : any, b : any) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime());
const pageTitle = "Posts"
---
<Base pageTitle={pageTitle}>
  <div slot="below-title">Behold! The things I have been doing :D</div>
    <ul class="post-list" slot="below-break">
      {allPosts.map((post : any) =>
        <ListItem
          title={post.frontmatter.title}
          description={post.frontmatter.description}
          pubDate={post.frontmatter.pubDate}
          tags={post.frontmatter.tags}
          url={post.url}
        />
      )}
    </ul>
  </div>
</Base>
