---
export interface Props {
  title: string;
  description: string;
  pubDate: Date | string;
  tags: string[];
  url: string;
}

const { title, description, pubDate, tags, url } = Astro.props;
const formattedDate = new Date(pubDate).toISOString().slice(0, 10)
---
<li>
  <h2><a href={url}>{title}</a></h2>
  <p><time datetime={formattedDate}>{formattedDate}</time><span class="sep"> | </span><span set:html={tags.map(tag => `<a href="/tags/${encodeURIComponent(tag)}">${tag}</a>`).join(", ")} /></p>
  <p>{description}</p>
</li>
