---
import Base from "../layouts/Base.astro";
import ListItem from "../components/ListItem.astro";
const allPosts = Object.values(import.meta.glob('./articles/*.md', { eager: true }));
const pageTitle = "Articles"
---
<Base pageTitle={pageTitle}>
    <div slot="below-title">Lorem Ipsum</div>
    <div slot="below-break">
        { allPosts.map((article : any) =>
            <ListItem
                title="{article.frontmatter.title}"
                description={article.frontmatter.description}
                pubDate={article.frontmatter.pubDate}
                tags={article.frontmatter.tags}
            >

            </ListItem>
            
            <li><a href="{article.url}">{article.frontmatter.title}</a></li>)
        }
    </div>
</Base>